@model STGApplication.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-center">
            <img src="https://calfandheifer.org/wp-content/uploads/2023/04/stgeneticsfeaturedimage500x500.png" class="mx-auto" width="20%" />
            </div>
        <div class="card">
            <div class="card-body">
                
                    <h3 class="card-title text-center">Create Animal</h3>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex mb-3">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex mb-3">
                            <label asp-for="Breed" class="control-label">Breed</label>
                            <input asp-for="Breed" class="form-control" />
                            <span asp-validation-for="Breed" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="BirthDate" class="control-label">Birth Date</label>
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="Sex" class="control-label">Sex</label>
                            <select asp-for="Sex" class="form-control">
                                <option value="">Select an option</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Sex" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="Price" class="control-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="">Select an option</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

<br />

<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
