@model STGApplication.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Animal</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AnimalId" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Breed" class="control-label">Breed</label>
                        <input asp-for="Breed" class="form-control" />
                        <span asp-validation-for="Breed" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label">Birth Date</label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Sex" class="control-label">Sex</label>
                        <input asp-for="Sex" class="form-control" />
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Status</label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="https://www.semana.com/resizer/ZyoGS-coIu4nyMj7GMGYu-0G840=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/6D2MAQIYGBELZKTIKT37DMQN2A.jpg" class="img-fluid rounded" alt="Animal Image">
    </div>
</div>

<br />
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
