@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:600;">Welcome</h1>
    <p>Who am I? <a href="https://github.com/HFOXH">Look my Profile 👻</a>.</p>
</div>
